/* Your styles go here! */
main {
  background-color: rgb(90, 56, 7);
  color: rgb(237, 244, 246);
  padding: 32px 16px;
  font-family: "Cantarell", sans-serif;
}

section {
    background-color: rgb(237, 244, 246);
    color: rgb(90, 56, 7);
    padding: 8px;
    margin-block: 16px;
    border-style: solid;
    border-color: #ffde0b;
    border-width: 8px;
    border-radius: 16px;
}


h1 {
  background-color: rgb(255, 222, 10);
  color: rgb(30, 4, 4);
  padding: 32px 8px;
  text-align: center;
  /* 
    Google fonts inserted by Claude.ai
  */ 
}

h2 {
    margin-block: 0;
    font-family: 'Molle', cursive;
    text-decoration: underline;
    letter-spacing: 2px;
    font-variant: small-caps;
}

footer {
  background-color: black;
  color: white;
  padding: 32px 8px;
}

footer a {
  color: white;
}